/* ===================================
                FOOTER
 ================================== */
 footer{
    text-align: center;
    margin-top: $footer-margin-top;

    .container{ width: 100%; padding: 0; }

    .pont{
        width: 100%;
        background: url('../images/motif_pont-2.png') repeat;
        height: 70px;

    }

    .img-footer{ width: 100%;}

    .row{
        &.partenairs{
            background: $gray-ultra-light;
            margin: 0;

            .col-lg-12:first-child{
                margin: 0 auto;
                max-width: 1280px;
                float: none;
                display: inline-block;

                .col-xs-12{
                    margin-top: $footer-partenairs-margin-top;
                    text-align: center;

                    img{ margin: 0 auto; }

                    a{
                        display: inline-block;
                        font-weight: $font-weight-custom-1;

                        &:hover{ text-decoration: none; }
                        img{ margin: 0 auto; }
                    }

                    &:nth-child(1){
                        text-align: center;
                        padding: 0 7.5rem;

                        .bottom-social{
                            #menu-social-media{
                                list-style: none;
                                padding: 0;

                                li{
                                    list-style: none;
                                    display: inline-block;
                                    //width: calc(50% - 4rem);
                                    color: $gray-base;
                                    margin: 0 2rem;
                                    text-align: right;

                                    &:nth-child(2){
                                        text-align: left;
                                    }

                                    .fa{
                                        &:hover{
                                            color: $theme-color;
                                        }

                                        &:focus,
                                        &:active{
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(2){
                        a{
                            font-size: $font-size-large;
                            text-transform: uppercase;

                            &:hover{
                                text-decoration: none;
                                color: $theme-color;
                            }

                            &:active,
                            &:visited,
                            &:focus{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .col-lg-12:nth-child(2){
                margin: 0 auto;
                max-width: 1280px;
                float: none;
                display: inline-block;

                ul{
                    padding: 0;

                    li{
                        list-style: none;

                        a{
                            font-family: $font-family-custom-2;
                            font-size: $font-size-small;
                            font-style: italic;

                            &:hover{
                                color: $theme-color;
                                text-decoration: none;
                                font-size: $font-size-base;
                            }
                        }
                    }
                }


            }
        }
    }
}



@media(min-width:$screen-sm) {
    footer{
       margin-top: 5rem;

       .row{
           &.partenairs{
             .col-lg-12:first-child{
                 margin: 0 auto;
                 max-width: 1280px;
                 width: 100%;
                 float: none;
                 display: inline-block;

                 .col-xs-12{
                     &:nth-child(1){
                         padding: 0;

                         .bottom-social{
                             #menu-social-media{
                                 li{
                                     margin: 0 0.5rem;

                                     &:nth-child(2){

                                     }

                                     .fa{
                                         line-height: $footer-line-height;

                                         &:hover{

                                         }
                                     }
                                 }
                             }
                         }
                     }

                     &:nth-child(2){
                         text-align: left;
                         padding-left: 15px;

                         a{
                             font-size: $font-size-large;
                             //line-height: 1;
                             margin-top: 1rem;
                         }
                     }

                     &:nth-child(4){
                         text-align: right;
                     }

                     &:nth-child(5){
                         //img{ margin-left: -35px;}
                     }

                     &:nth-child(6){
                         text-align: left;
                         img{ margin-left: 12px;}
                     }
                   }
               }
           }
       }
    }
 }






@media(min-width:$screen-md) {
    footer{
       margin-top: $footer-margin-top-medium-deskop;

      .col-lg-2{
          &:nth-child(1){
              padding-left: 10rem !important;

          }
      }
   }
}

@media(min-width:$screen-lg) {
    footer{
       margin-top: $footer-margin-top-large-deskop;

       .row{
           &.partenairs{
             .col-lg-12:first-child{
                 margin: 0 auto;
                 max-width: 1280px;
                 float: none;
                 display: inline-block;

                 .col-xs-12{
                     &:nth-child(1){
                         padding: 0;

                         .bottom-social{
                             #menu-social-media{
                                 li{
                                     margin: 0 1rem;

                                     &:nth-child(2){

                                     }

                                     .fa{
                                         line-height: $footer-line-height;

                                         &:hover{

                                         }
                                     }
                                 }
                             }
                         }
                     }

                     &:nth-child(2){
                         text-align: left;
                         padding-left: 15px;

                         a{
                             font-size: $font-size-large;
                             //line-height: 1;
                             margin-top: 1rem;
                         }
                     }

                     &:nth-child(4){
                         text-align: right;
                     }

                     &:nth-child(5){
                         //img{ margin-left: -35px;}
                     }

                     &:nth-child(6){
                         text-align: left;
                         img{ margin-left: 12px;}
                     }
                   }
               }
           }
       }

    }
}
