h1{
    font-family: $font-family-custom-1;
    text-transform: uppercase;
    color: $theme-color;
}

h2{
    font-family: $font-family-custom-2;
    text-transform: uppercase;
    color: $theme-color;
    font-weight: $font-weight-custom-1;
}

h3{
    font-family: $font-family-custom-1;
    text-transform: uppercase;
    color: $gray-base;
    font-weight: $font-weight-custom-2;
}

h4{
    font-family: $font-family-custom-1;
    text-transform: capitalize;
    font-weight: $font-weight-custom-3;
    font-style: italic;

}

p{
    font-family: $font-family-custom-1;
    font-size: $font-size-large;
    color: $gray-ultra-light;
}



/* ===================================
                HEADER
 ================================== */
.intro-section{
    text-align: center;
    margin-top: $header-margin-top-mobile;

    img{ border-bottom: $border-element; }
}


@media(min-width:$screen-sm) {
    .intro-section{ margin-top: $header-margin-top-tablet; }
}

@media(min-width:$screen-md) {
    .intro-section{ margin-top: $header-margin-top-medium-deskop; }
    .error404{
        .intro-section{ margin-top: 10.7rem; }
    }
}

@media(min-width:$screen-lg) {
    .intro-section{
        margin-top: $header-margin-top-medium-deskop;

        img{ width: 100%; max-width: 1350px; }

        #map{
            img{ width: auto; }
        }
    }
}

@media(min-width:$screen-lg) {
    .container{
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
    }
}


/* ===================================
          HEADER SECTION
 ================================== */
section{
    text-align: center;

    h1{
        font-family: $font-family-custom-1;
        text-transform: uppercase;
        color: $theme-color;
        font-size: $font-size-h3;
        margin: $header-h1-margin-mobile;
   }

    p{
        color: $gray-ultra-light;
        font-size: $font-size-base;
        font-weight: $font-weight-custom-1;
        font-style: italic;
        width: $header-h1-margin;
        margin: 0 auto;
    }
}


@media(min-width:$screen-sm) {
    section{
        .container{ width: 100%; }
        h1{
          font-size: $font-size-30;
          margin: $header-h1-margin-tablet;
        }
        p{ font-size: $font-size-medium; }
    }
}

@media(min-width:$screen-md) {
    section{
        h1{
          font-size: $font-size-h1;
          margin: $header-h1-margin-medium-deskop;
        }
        p{ font-size: $font-size-large; }
    }
}

@media(min-width:$screen-lg) {
    section{
        h1{
          font-size: $font-size-h1;
          margin: $header-h1-margin-large-deskop;
        }
        p{ font-size: $font-size-large; }
    }
}







/* ===================================
            PROGRAMMING
 ================================== */
/*.programming-section{
    padding-top: $intro-section-padding-top;

    .container{
        margin-top: $margin-large;

        .col-lg-2{
              margin-top: 635px;

            #controls{
                .navbar-left{ float: none !important; }

                ul{
                    padding: 0;
                    padding-top: 30px;

                    h3{
                        position: relative;
                        font-family: $font-family-custom-1;
                        font-size: 23px;
                        text-transform: capitalize;
                        color: $gray-ultra-light;
                        font-weight: $font-weight-custom-2;
                        margin: 0;
                        margin-bottom: 15px;

                        &:before,
                        &:after{
                            content: '';
                            position: absolute;
                            background: $theme-color;
                            height: 1px;
                            display: block;
                            width: 22%;
                            top: 50%;
                        }

                        &:after{
                            right: 0;
                        }
                    }

                    li{
                        list-style: none;

                        a{
                            display: block;
                            font-family: $font-family-custom-2;
                            font-size: $font-size-large;
                            text-transform: none;
                            color: $gray-ultra-light;
                            font-weight: normal;
                            margin-bottom: 15px;

                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .col-lg-7{
            height: 1526px !important;
            background: url('../images/column-maurice.png') no-repeat;

            #contenu{
                margin-top: 470px;
                margin-left: 199px;
                overflow-y: scroll !important;

                .col-lg-12{
                    height: 50px;

                    &.samedi{ background-color: rgb(165, 170, 242); }
                    &.dimanche{ background-color: rgb(86, 92, 177); }
                    &.shows{ background-color: rgb(119, 236, 162); }
                    &.ateliers{ background-color: rgb(221, 119, 221); }
                    &.concerts{ background-color: rgb(218, 235, 118); }
                    &.cours{ background-color: rgb(255, 25, 156); }
                    &.victoire{ background-color: rgb(238, 18, 64); }
                    &.lectures{ background-color: rgb(117, 223, 233); }
                    &.levoid{ background-color: rgb(214, 247, 11); }

                    .col-lg-9{
                        position: relative;

                        .mask{
                            position: absolute;
                            bottom: 15px;
                            background: rgba(255, 255, 255, .4);
                            width: 100%;
                            padding: 5px 0;

                            h3{
                                font-family: $font-family-custom-1;
                                text-transform: uppercase;
                                font-size: 18px;
                                color: $gray-base;
                                font-weight: $font-weight-custom-3;
                                margin-bottom: 0;
                            }

                            p{
                                font-family: $font-family-custom-1;
                                font-size: 14px;
                                color: $gray-base;
                                font-style: italic;
                            }

                            a{
                                background: #000;
                                color: #fff;
                                border-radius: 100%;
                                padding: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .col-lg-offset-2{
        margin-left: 13.66667%;
    }
}
*/
