/* ===================================
              PAGE MEDIA
 ================================== */

 .media-section{
    .container{
        padding-top: 6rem;

        article{
            h1{ margin-bottom: 3rem; }

            .entry-content{
                margin: 0 auto;
                width: 80%;

                .ngg-albumoverview{
                    display: inline-block !important;
                    width: initial;

                    .ngg-album-compact{
                        background: url('../images/media-album.png') no-repeat;
                        background-size: contain;
                        float: none;
                        display: inline-block;
                        position: relative;
                        //width: 100%;
                        //max-width: 300px;

                        .ngg-album-compactbox{
                            border: none;
                            //display: inline-block;
                            margin-top: 10.5% !important;
                            margin-left: 11.5% !important;
                            width: 100%;
                            overflow: hidden;

                            &:after,
                            &:before{ display: none; }

                            .ngg-album-link{
                                display: inline-block;
                                width: 85%;

                                .gallery_link{
                                    display: block;
                                    width: 100%;
                                    overflow: hidden;
                                    background: $gray-base;

                                    &:hover{
                                        img{
                                            opacity: .3;
                                        }
                                    }

                                    img{
                                        border: none !important;
                                        width: 100%
                                    }
                                }
                            }
                        }

                        h4{
                            margin: 0 !important;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 1000;
                            display: none;

                            a{
                                color: $theme-color;
                                height: auto;
                                text-decoration: none;
                            }
                        }

                        &:hover{
                            h4{ display: block; }
                        }

                        p{
                          display: none;

                        }
                    }

                }
            }
        }
    }
}

.media-section{
   //page interieure
    .ngg-breadcrumbs{
        display: block;
        text-align: center;
        font-family: $font-family-custom-1;
        text-transform: capitalize;;
        color: $theme-color;
        font-size: $font-size-h3;
        font-weight: 300;

        li{
            float: none;
            &:first-child{
                display: none;
            }
        }
    }

    .ngg-galleryoverview{
        display: inline-block !important;
        width: initial;

        .slideshowlink{
            display: none;
            a{

            }
        }

        .ngg-gallery-thumbnail-box{
            float: none;
            display: inline-block;
            margin-right: 7%;

            &:nth-child(2n+1){
                background: url('../images/MEDIA-album-d.png') no-repeat;
                background-size: contain;
                a{
                    transform: rotate(4.9deg);
                    margin-top: 8.2%;
                }
            }

            &:nth-child(2n+2){
                background: url('../images/MEDIA-album-g.png') no-repeat;
                background-size: contain;
                a{
                    transform: rotate(-4.9deg);
                    margin-top: 8.3%;
                }
            }

            .ngg-gallery-thumbnail{
                background: transparent;
                border: none;
                display: inline-block;
                width: 87%;
                margin-left: 5%;
                a{

                    img{

                    }
                }
            }
        }
    }
}

@media(min-width:$screen-sm) {
    .media-section{
        .container{
            padding-top: $media-container-padding-top-tablet;
        }
    }
}

@media(min-width:$screen-md) {
    .media-section{
        .container{
            padding-top: $media-container-padding-top-medium-deskop;
        }
    }
}


@media(min-width:$screen-lg) {
    .media-section{
        .container{
            padding-top: $media-container-padding-top-large-deskop;
        }
    }
}
