/* ===================================
          PAGE ORGANISATRICES
 ================================== */
 .presentation-section{
     h2{
         font-family: $font-family-custom-1;
         text-transform: capitalize;
         font-weight: $font-weight-custom-3;
         font-style: italic;
     }

     .organisatrices{
         .photos{
             margin: 0;

             .col-xs-12{
                 &:nth-child(1){
                     .img-oval {
                         width: $img-oval-width-mobile;
                         height: $img-oval-height-mobile;
                         border-radius: 112.5px / 133px;
                         margin-top: $img-oval-margin-top-mobile;
                     }

                     &:after{
                         content: "";
                         border-bottom: $border-element;
                         margin: $img-oval-after-margin;
                         display: block;
                         width: 50%;
                     }
                }

                 h2{
                     font-size: $font-size-large;
                     margin-bottom: $page-h4-margin-bottom;
                     text-align: center;
                     color: $gray-ultra-light;
                     margin-top: 0;
                }

                .bg-content{
                    background: $gray-ultra-light;
                    border: $page-p-border;
                    border-radius: $page-p-border-radius;
                    padding: $page-p-padding-mobile;
                    margin: $page-p-margin;
                    width: 90%;

                    p{
                        font-size: $font-size-medium;
                        text-align: left;
                        margin-bottom: 0;
                        color: $gray-base;
                        font-style: normal;
                        margin-bottom: $margin-micro-big;

                        &.liens{
                            font-size: 13px;
                        }

                        &:first-child{ display: none; }
                        &:last-child{ margin-bottom: 0; }
                    }

                    a{
                        color: $gray-base;

                        &:hover{
                            color: $theme-color;
                            text-decoration: none;
                        }
                    }
                }
             }
         }
    }
}

@media(min-width:$screen-sm) {
    .presentation-section{

        .organisatrices{
            display: none;
        }

        .row{
            &.photos-deskop{
                margin: $photos-deskop-margin-tablet;
                margin-top: $margin-semi-medium;

                .col-lg-4{
                    .img-oval {
                        width: $img-oval-width-tablet;
                        height: $img-oval-height-tablet;
                        border-radius: 100px / 120.5px;
                    }

                    &:after{
                        content: "";
                        border-bottom: $border-element;
                        margin: $img-oval-after-margin;
                        display: block;
                        width: 45%;
                    }
                }
            }


            &.bio-deskop{
                margin: $bio-deskop-margin-tablet;
                padding: $bio-deskop-padding-tablet;
                background: $gray-ultra-light;

                .col-lg-4{
                     padding-right: $bio-deskop-block-padding-horizontal-tablet;
                     padding-left: $bio-deskop-block-padding-horizontal-tablet;
                     text-align: left;

                      h2{
                          font-size: $font-size-large;
                          margin-bottom: $bio-deskop-h4-margin-bottom-tablet;
                          margin-top: 0;
                          text-align: center;
                          color: $gray-base;
                     }

                     .bg-content{
                         background: $gray-ultra-light;
                         border: none;
                         border-radius: $page-p-border-radius;
                         padding: 0;
                         margin: $bio-deskop-p-margin-tablet;
                         width: 100%;

                         p{
                             font-size: $font-size-medium;
                             text-align: left;
                             color: $gray-base;
                             font-style: normal;
                             margin-bottom: $margin-micro-big;

                             &.liens{
                                 font-size: 13px;
                             }

                             &:first-child{ display: none; }
                             &:last-child{ margin-bottom: 0; }
                         }

                         a{
                             color: $gray-base;

                             &:hover{
                                 color: $theme-color;
                                 text-decoration: none;
                             }
                         }

                    }
               }
           }
       }
    }
}


@media(min-width:$screen-md) {
    .presentation-section{

        .row{
            &.photos-deskop{
                margin: $photos-deskop-margin-medium-deskop;
                margin-top: $margin-medium;

                .col-lg-4{
                    .img-oval {
                        width: $img-oval-width-deskop;
                        height: $img-oval-height-deskop;
                        border-radius: 112.5px / 133px;
                    }

                    &:after{
                        border-bottom: $border-element;
                        margin: $img-oval-after-margin-medium-deskop;
                        width: 45%;
                    }
                }
            }


            &.bio-deskop{
                margin: $bio-deskop-margin-medium-deskop;
                padding: $bio-deskop-padding-medium-deskop;

                .col-lg-4{
                     padding-right: $bio-deskop-block-padding-horizontal-medium-deskop;
                     padding-left: $bio-deskop-block-padding-horizontal-medium-deskop;

                      h2{
                          font-size: $font-size-large;
                          margin-bottom: $bio-deskop-h4-margin-bottom-medium-deskop;
                          color: $gray-base;
                      }

                      .bg-content{
                          margin: $bio-deskop-p-margin-medium-deskop;

                          p{
                              font-size: $font-size-medium;
                              text-align: left;
                              color: $gray-base;
                              font-style: normal;
                              margin-bottom: $margin-micro-big;

                              &.liens{
                                  font-size: 14px;
                              }


                              &:first-child{ display: none; }
                              &:last-child{ margin-bottom: 0; }
                          }

                          a{
                              color: $gray-base;
                          }
                      }
               }
           }
       }
   }
}


@media(min-width:$screen-lg) {
    .presentation-section{

        .row{
            &.photos-deskop{
                margin: $photos-deskop-margin-large-deskop;
                margin-top: $margin-large;

                .col-lg-4{
                    &:after{
                        margin: $img-oval-after-margin-large-deskop;
                        width: 45%;
                    }
                }
            }


            &.bio-deskop{
                margin: $bio-deskop-margin-large-deskop;
                padding:  $bio-deskop-padding-large-deskop;

                .col-lg-4{
                     padding-right: $bio-deskop-block-padding-horizontal-large-deskop;
                     padding-left: $bio-deskop-block-padding-horizontal-large-deskop;

                      h2{
                          font-size: $font-size-large;
                          margin-bottom: $bio-deskop-h4-margin-bottom-large-deskop;
                          color: $gray-base;
                     }

                     .bg-content{
                         margin: $bio-deskop-p-margin-large-deskop;
                         margin-bottom: 0;

                         p{
                             font-size: $font-size-medium;
                             text-align: left;
                             color: $gray-base;
                             font-style: normal;
                             margin-bottom: $margin-semi-medium-big;

                             &.liens{
                                 font-size: 14px;
                             }


                             &:first-child{ display: none; }
                             &:last-child{ margin-bottom: 0; }
                         }

                         a{
                             color: $gray-base;
                         }
                      }


               }
           }
       }
   }
}

@media(max-width:$screen-sm) {
    .presentation-section{

        .photos-deskop,
        .bio-deskop{
            display: none;
        }
    }
}
