//programmation 2
.programming-section{
    max-width: 1280px;
    padding-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;

    .container{
        margin-top: 6.5rem;

        .row{
            > .col-xs-12{
              &:first-child{
                  width: 90%;
                  position: fixed;
                  top: 15%;
                  z-index: 1;
                  max-width: 360px;

                  &.is-closed{ right: -328px; transition: transform .5s; }
                  &.is-opened{ right: 0; transition: transform .5s;
                      .btn-control img{ transform: rotate(180deg) translateY(50%) translateX(50%); transition: all .5s; }
                  }

                  .col-xs-2{
                      background: #28283d;
                      width: 9%;
                      height: 19rem;
                      position: relative;
                      text-align: initial;

                      img{
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          width: 20px;
                          height: auto;
                          transform: translateY(-50%) translateX(-50%);
                          margin: 0 auto;
                      }
                  }

                  #options{
                      background: $body-bg;
                      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28283d+13,28283d+13,121121+100 */
                      background: #28283d; /* Old browsers */
                      background: -moz-linear-gradient(left,  #28283d 13%, #28283d 13%, #121121 100%); /* FF3.6-15 */
                      background: -webkit-linear-gradient(left,  #28283d 13%,#28283d 13%,#121121 100%); /* Chrome10-25,Safari5.1-6 */
                      background: linear-gradient(to right,  #28283d 13%,#28283d 13%,#121121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28283d', endColorstr='#121121',GradientType=1 ); /* IE6-9 */

                      box-shadow: -3px -3px 20px 3px #000000;
                      border-radius: 0 0 0 1rem;
                      width: 91%;

                      #filters{
                          padding: 1rem 3rem;

                          li{
                              list-style: none;
                              margin-bottom: $margin-micro-big;

                              &:first-child{ display: none; }
                              &:nth-child(4){ margin-bottom: 0;}

                              a{
                                  font-family: $font-family-custom-2;
                                  font-size: $font-size-medium;
                                  color: $gray-ultra-light;

                                  &:hover{
                                      color: $theme-color;
                                      text-decoration: none;
                                  }

                                  &.selected{ text-decoration: none;}
                              }

                              &.logo{
                                  &.logo2{
                                      img{ margin-top: 24px; }
                                  }

                                  div{
                                      width: 29.33333%;
                                      height: 50px;
                                      display: inline-block;
                                      border-bottom: $border-element;
                                      margin-top: $margin-semi-medium;

                                      &:nth-child(2){ border: none; }
                                      &:first-child{ margin-right: 5%; }
                                      &:last-child{ margin-left: 5%; }
                                  }

                                  img{
                                      display: block;
                                      max-width: 50px;
                                      margin: 0 auto;
                                  }
                              }
                          }
                      }
                  }
              }

              &:last-child{
                    background: url('../images/colonne-mobile.png') no-repeat;
                    background-size: cover;
                    height: 1053px;
                    //width: calc(100% - (2 *2.5rem));
                    width: 350px;
                    max-width: 420px;
                    margin: $margin-semi-medium-full;
                    overflow: hidden;


                    .scroll{
                        margin-left: 22%;
                        margin-top: 76.5%;
                        width: 250px;
                        height: 64.1% !important;
                        overflow-y: scroll;
                        // padding-right: 200px;

                        //&::-webkit-scrollbar { display: none; }



                        #contenu{
                            width: 79%;
                            //height: 100% !important;
                            background: $gray-ultra-light;
                            margin: 0 auto;
                            overflow: hidden;


                            .photogal{
                                padding: 0;

                                li {
                                    width: 100%;
                                    position: relative;

                                    a {
                                        // width: 100%;
                                        // display: block;

                                        img {
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                        }
                                    }

                                    .content-block{
                                        position: absolute !important;
                                        //top: 100% !important;
                                        bottom: $margin-micro;
                                        background: rgba(255, 255, 255, .65);
                                        padding: $margin-micro;
                                        //transform: translateY(-100%) !important;
                                        width: 100%;
                                        text-align: right;

                                        .event-title{
                                            font-family: $font-family-custom-1;
                                            font-size: $font-size-base;
                                            font-weight: $font-weight-custom-2;
                                            color: $gray-base;
                                            text-transform: uppercase;
                                            margin: 0;
                                            text-align: center;
                                            display: block;

                                            &:hover{
                                                background: transparent;
                                                color: $theme-color;
                                            }
                                        }

                                        .date{
                                            font-family: $font-family-custom-1;
                                            font-size: $font-size-12;
                                            color: $gray-base;
                                            margin: .5rem 0 1.5rem 0;
                                            width: 100%;
                                            font-style: normal;
                                            text-align: center;
                                        }

                                        .plus{
                                            background: $gray-base;
                                            border-radius: 100%;
                                            color: $gray-ultra-light;
                                            padding: 4px 6px;
                                            margin-right: $margin-micro;
                                            // display: inline-block;
                                        }

                                        .reserve{
                                            font-family: $font-family-custom-1;
                                            font-size: $font-size-base;
                                            background: $gray-base;
                                            border-radius: 5px;
                                            color: $gray-ultra-light;
                                            padding: 3px 8px;
                                            margin-right: $margin-micro;
                                            // display: inline-block;
                                        }

                                        a{
                                            &:hover,
                                            &:focus{
                                                background: $theme-color;
                                                color: $gray-ultra-light;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }

                                // &:before{
                                //     content: '.';
                                //     color: $gray-base;
                                //     font-size: 4rem;
                                //     font-family: $font-family-custom-1;
                                //     line-height: .4;
                                //     margin-bottom: 1rem;
                                // }

                                &:first-child{
                                    //top: -20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 440px) {
    .programming-section{
        padding-top: 5.5rem;

        .container{
            margin-top: 5.5rem;


            .row{
                > .col-xs-12{
                    &:last-child{
                        width: calc( 100% - (2 * 1rem));
                        background-size: 100%;
                        margin: 0 1rem;

                        .scroll{
                            margin-left: 22%;
                            margin-top: 76.5%;
                            width: calc(71.7% + 200px);
                            padding-right: 200px;

                            .event-title{ margin-bottom: 1.5rem !important; }

                            .date{ display: none; }

                            .plus{
                                padding: 2px 5px !important;
                            }

                            .reserve{
                                font-size: 12px !important;
                            }


                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 440px) {
    .programming-section{
        .container{
            .row{
                > .col-xs-12{
                    &:last-child{
                        height: 1264px;
                        //max-height: 1264px;
                        width: 420px;
                        margin: 0 auto;
                        float: none;

                        .scroll{
                            margin-left: 22%;
                            margin-top: 76.5%;
                            width: calc(301px + 200px);
                            height: 64.1% !important;
                            overflow-y: scroll;
                            float: left;
                            padding-right: 200px;

                            #contenu{
                                width: 79%;
                                //height: 100% !important;
                                background: $gray-ultra-light;
                                margin: 0 auto;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:$screen-sm-min) {
    .programming-section{
        padding-top: 5.5rem;

        .container{
            margin-top: 6.5rem;

            >.col-xs-12{
                &:first-child{ height: 100px;}
                &:last-child{
                    background: url('../images/colonne-deskop.png') no-repeat;
                    background-size: cover;
                    height: 1000px;
                    width: calc(100% - (2 * 2.5rem));
                    margin: 0 auto;
                    float: none;

                    .scroll{
                        margin-left: 30.4%;
                        margin-top: 73.3%;
                        width: calc(300px + 200px);
                        height: 58.8% !important;
                        overflow-y: scroll;
                        float: left;
                        margin-right: 200px;

                        #contenu{
                            width: 76.3%;
                            //height: 100% !important;
                            background: $gray-ultra-light;
                            margin: 0 auto;
                            overflow: hidden;

                            .photogal{
                                li {
                                    .content-block{
                                        .event-title{
                                            font-size: $font-size-base;
                                        }

                                        .date{
                                            font-size: $font-size-base;
                                        }

                                        .plus{
                                            padding: 4px 6px;
                                        }

                                        .reserve{
                                            font-size: $font-size-base;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:$screen-md-min) {
    .programming-section{
        padding-top: 8.5rem;

        .container{
            margin: 0;
            margin-top: 3.5rem;

            .row{
              > .col-xs-12.col-md-2{
                  width: 20.66667%;
                  top: 17%;
                  //position: static;

                  &.col-md-offset-2{
                      margin-left: 14.66667%;
                  }

                      &.is-closed{ transform: translateX(0); right: auto; }
                      &.is-opened{ transform: translateX(0); right: auto;
                          .btn-control{ display: none; }
                      }

                      .col-xs-2{
                          display: none;
                      }

                      #options{
                          background: transparent;
                          box-shadow: none;
                          border-radius: none;

                          #filters{
                              margin-top: 0rem;
                              padding: 0;

                              li{
                                  a{ font-size: $font-size-medium; }

                                  &.logo{
                                      &.logo2{
                                          img{ margin-top: $font-size-h3; }
                                      }

                                      &:before,
                                      &:after{
                                          display: none;
                                      }
                                  }
                              }

                              div{
                                  width: 29.33333%;
                                  height: 50px;
                                  display: inline-block;
                                  border-bottom: $border-element;
                                  margin-top: $margin-semi-medium;

                                  &:nth-child(2){ border: none; }
                                  &:first-child{ margin-right: 5%; }
                                  &:last-child{ margin-left: 5%; }
                              }

                              img{
                                  display: block;
                                  margin-bottom: 0rem;
                                  margin-top: 0rem;
                              }
                          }
                      }
                  }


                > .col-xs-12.col-md-7{
                    &:last-child{
                        background: url('../images/colonne-deskop.png') no-repeat;
                        background-size: cover;
                        height: 1350px;
                        //width: 58.33333%;
                        width: 583px;
                        max-width: 58.33333%;
                        margin: 0 auto;
                        margin-left: 35.33333%;
                        //float: left;

                        .scroll{
                            margin-left: 30%;
                            margin-top: 73.3%;
                            width: calc(300px + 200px);
                            height: 58.8% !important;
                            overflow-y: scroll;
                            float: left;
                            margin-right: 200px

                            #contenu{
                                width: 77.4%;
                                //height: 100% !important;
                                background: $gray-ultra-light;
                                margin: 0 auto;
                                overflow: hidden;

                                .photogal{
                                    li {
                                        .content-block{
                                            .event-title{
                                                font-size: $font-size-large;
                                            }

                                            .date{
                                                font-size: $font-size-medium;
                                            }

                                            .plus{
                                                padding: 4px 6px;
                                            }

                                            .reserve{
                                                font-size: $font-size-base;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:$screen-lg-min) {
    .programming-section{
        .container{
            .row{
              > .col-xs-12.col-lg-2{
                  width: 18.66667%;
                  top: 17%;
                  width: 320px  !important;
                  //position: static;

                  &.col-lg-offset-2{
                      margin-left: 125px !important;
                  }


                      &.is-closed{ transform: translateX(0); right: auto; }
                      &.is-opened{ transform: translateX(0); right: auto;
                          .btn-control{ display: none; }
                      }

                      .col-xs-2{
                          display: none;
                      }

                      #options{
                          background: transparent;
                          box-shadow: none;
                          border-radius: none;

                          #filters{
                              margin-top: 0rem;
                              padding: 0;

                              li{
                                  a{ font-size: $font-size-medium; }

                                  &.logo{
                                      &.logo2{
                                          img{ margin-top: $font-size-h3; }
                                      }
                                  }
                              }

                              div{
                                  width: 29.33333%;
                                  height: 50px;
                                  display: inline-block;
                                  margin-top: $margin-semi-medium;

                                  &:nth-child(2){ border: none; }
                                  &:first-child{ margin-right: 5%; }
                                  &:last-child{ margin-left: 5%; }
                              }

                              img{
                                  display: block;
                                  margin-bottom: 0rem;
                                  margin-top: 0rem;
                              }
                          }
                      }
                  }


                > .col-xs-12.col-lg-7{
                    &:last-child{
                        background: url('../images/colonne-deskop.png') no-repeat;
                        background-size: cover;
                        height: 1530px;
                        //width: 58.33333%;
                        width: 662px;
                        max-width: 58.33333%;
                        margin: 0 auto;
                        margin-left: 38.33333% !important;
                        //float: left;

                        .scroll{
                            margin-left: 30%;
                            margin-top: 73.3%;
                            width: calc( 329.5px + 200px);
                            height: 58.8% !important;
                            overflow-y: scroll;
                            float: left;
                            margin-right: 200px;

                            #contenu{
                                width: 79.9%;
                                //height: 100% !important;
                                background: $gray-ultra-light;
                                margin: 0 auto;
                                overflow: hidden;

                                .photogal{
                                    li {
                                        .content-block{
                                            .event-title{
                                                font-size: $font-size-large;
                                            }

                                            .date{
                                                font-size: $font-size-medium;
                                            }

                                            .reserve{
                                                font-size: $font-size-base;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





/****************************
      ISOTOPE ANIMATION
****************************/
.isotope,
.isotope .isotope-item {
    transition-duration: 0.8s;
}

.isotope {
    transition-property: height, width;
}

.isotope .isotope-item {
    transition-property: transform, opacity; }

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    transition-duration: 0s; }
